<!DOCTYPE html>
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js" lang="{{=T.accepted_language or 'en'}}"> <!--<![endif]-->
  <head>
      <link rel="icon" type="image/png" href="{{URL('static','images/favicon.png')}}"
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge{{=not request.is_local and ',chrome=1' or ''}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{=response.title or request.application}}</title>
    <meta name="application-name" content="{{=request.application}}">
    <meta name="google-site-verification" content="">
    <link rel="stylesheet" href="{{=URL('static','css/bootstrap.css')}}"/>
      <link rel="stylesheet" href="{{=URL('static','css/bootstrap-theme.css')}}"/>
      <link rel="stylesheet" href="{{=URL('static','css/web2py-boostrap3.css')}}"/>
    <link rel="shortcut icon" href="{{=URL('static','images/favicon.ico')}}" type="image/x-icon">
    <link rel="apple-touch-icon" href="{{=URL('static','images/favicon.png')}}">
      <link rel="stylesheet" href="{{=URL('static','css/main.css')}}"/>
    <script src="{{=URL('static','js/modernizr-2.8.3.min.js')}}"></script>
    <!--[if lt IE 9]>
        <script src="{{=URL('static','js/respond-1.4.2.min.js')}}"></script>
        <![endif]-->
    {{include 'web2py_ajax.html'}}
    {{block head}}{{end}}
    {{
    mc0 = 'col-md-12'
    mc1 = 'col-md-9'
    mc2 = 'col-md-6'
    left_sidebar_enabled = globals().get('left_sidebar_enabled', False)
    right_sidebar_enabled = globals().get('right_sidebar_enabled', False)
    middle_column = {0: mc0, 1: mc1, 2: mc2}[
    (left_sidebar_enabled and 1 or 0)+(right_sidebar_enabled and 1 or 0)]
    }}
  </head>
  <body>
    <!--[if lt IE 8]><p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p><![endif]-->
    <div id="page" class="container">
        <div id="header">
            {{block header}}
            {{end}}

            {{block navigation}}
                <nav class="navbar navbar-inverse navi">
                    <div class="container-fluid">
                        <div class="collapse navbar-collapse">
                             <ul class="nav navbar-nav">
                                 <li><a href="/welcome"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home</a></li>
                                 <li class="active"><a href="/downloads"> <span class=" glyphicon glyphicon-cloud-download" aria-hidden="true"></span> Downloads</a></li>
                                 <li><a href="/downloads/books"><span class="glyphicon glyphicon-book"></span> E-Books</a> </li>
				                 <li><a href="/gitbucket/"><span class="glyphicon glyphicon-transfer"> </span> GIT </a> </li>
                             </ul>
                            <form class="navbar-form navbar-right" role="search">
                                <div class="input-group row">
                                        <input type="text" name="query" class="form-control" placeholder="Search">
                                    <span class="input-group-btn">
                                        <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> </button>
                                    </span>
                                </div>
                            </form>
                        </div>
                    </div>
                </nav>
            {{end}}
        </div>
        <div id="cont">
            {{block content}}

            {{end}}
        </div>
    </div>
    {{block footer}}
    {{end}}
    <script src="{{=URL('static','js/bootstrap.min.js')}}"></script>
    <script src="{{=URL('static','js/web2py-bootstrap3.js')}}"></script>
    {{block page_js}}{{end page_js}}
  </body>
</html>
