{{extend 'layout.html'}}

    {{block header}}
        <h1 class="title">Downloads<h1>
    {{end}}

    {{block content}}
        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Download</th>
                </tr>
            </thead>
            <tbody>
                {{for item in files:}}
                    <tr>
                        <th scope="row" id="icon" style="background-image: url('{{=URL('static',item['image'])}}'); background-position:center center;"></th>
                        <td id="item-name">{{=item['name']}}</td>
                        <td>{{=item['description']}}</td>
                        <td class="text-center" id="download-row">
                            <a id = "download" class="btn btn-success btn-block" href="{{=URL('static',item['location'])}}" download><span class="glyphicon glyphicon-save"></span></a>
                            {{=item['size']}}
                        </td>
                    </tr>
                {{pass}}
            <tfoot>
                <th></th>
                <td></td>
                <td></td>
                <td></td>
            </tfoot>
            </tbody>
        </table>
    {{end}}
