body{
    background-image: url("../images/header.jpg"),url("../images/page.jpg");
    background-position: top center, center 230px;
    background-repeat: no-repeat,repeat-y;
    background-color: #354B72;
}
#header{
    height: 150px;
    padding-left: 30px;
    color:lightgray;
    margin-left: -45px;
    margin-right: -16px;
    margin-top: 20px;
}
#page{
    color:darkgray;
    display: block;
    width: 850px;
    background-image: url("../images/tiles.jpg");
    background-size: 50%;
    margin: 19px auto 19px auto;
    border: solid 1px #000000;
    box-shadow: 0px 0px 25px 0px #000000 ;
    border-radius: 25px;
}
#cont{

}
.navi{
    border-radius: 0px;
    border: hidden;
    font-size: 24px;
    opacity: .95;
}
.title{
    font-size: 50px;
    text-align: center;
}
#icon{
    width: 50px;
    height: 50px;
    background-size: contain;
    background-repeat:no-repeat;
    background-position: center center;
}
#item-name{
    vertical-align: middle;
}
#download{
    opacity: 1;
    border: outset;
    vertical-align: middle;
}
#book-icon{
    width: 100px;
    height: 100px;
    background-size: contain;
    background-repeat:no-repeat;
    background-position: center center;
}
#download-row{
    height: 100px;
    vertical-align: middle;
    text-align: center;
}